/* stylelint-disable max-nesting-depth */
// NB. disabled this rule for test-based pragmatism/time-keeping, wouldn't disable in a real project

$sm-breakpoint: 768px;
$md-breakpoint: 1024px;

.VehicleList {

  &__Card {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (min-width: $sm-breakpoint) {
      flex: 0 0 50%;
      flex-direction: column;
      max-width: 50%;

      &:nth-of-type(odd) {

        & .VehicleList__CardText {
          border-right: 1px solid rgba(1, 1, 1, .1);
        }
      }

      &:last-child {

        & .VehicleList__CardText {
          border-right: 0;
        }
      }
    }

    @media (min-width: $md-breakpoint) {
      flex: 1;
      max-width: none;

      &:nth-of-type(even) {

        & .VehicleList__CardText {
          border-right: 1px solid rgba(1, 1, 1, .1);
        }
      }
    }
  }

  &__CardImage {
    background-color: #0C0C0C;
    flex: 0 0 50%;
    font-size: 0;
    max-width: 50%;

    @media (min-width: $sm-breakpoint) {
      flex: 0 0 auto;
      max-width: 100%;
    }

    & picture {
      display: block;
    }

    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__CardText {
    box-shadow: 0 1px 4px 0 rgba(1, 1, 1, .25); // inspired by https://www.landrover.co.uk/ header
    flex: 1;
    padding: 30px 35px;

    @media (min-width: $sm-breakpoint) {
      box-shadow: none;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      padding: 20px 0 0;
      text-align: center;
    }

    @media (min-width: $md-breakpoint) {
      padding: 25px 0 0;
    }

    &Price,
    &Para {
      color: #4a4f54;
      font-family: AvenirNext, Futura, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 15px;

      @media (min-width: $sm-breakpoint) {
        font-size: 12px;
        margin: 0 0 10px;
      }

      @media (min-width: $md-breakpoint) {
        margin: 0 0 5px;
      }
    }

    &Heading {
      color: #0c121c;
      font-family: LandRoverWeb-Bold, "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 21px;
      letter-spacing: 2px;
      margin: 0 0 5px;
      text-transform: uppercase;

      @media (min-width: $sm-breakpoint) {
        align-self: center;
        border-bottom: 1px solid;
        border-top: 1px solid;
        display: inline-block;
        margin: 0 0 15px;
        padding: 2.5px 0;
      }
    }

    &Price {
      letter-spacing: 2px;
    }

    &Para {
      letter-spacing: 1px;
    }
  }

  &__CardDetails {
    background-color: #f8f9fa;

    & summary {
      color: #0c121c;
      cursor: pointer;
      font-family: LandRoverWeb-Bold, "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      list-style: none; // chrome
      padding: 5px;
      text-transform: uppercase;

      &::-webkit-details-marker {
        display: none; // safari
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      @media (min-width: $sm-breakpoint) {
        padding: 10px 0;
      }
    }

    &Content {
      padding: 5px 5px 10px;

      @media (min-width: $sm-breakpoint) {
        padding: 0 15px 10px;
      }
    }

    &Para {
      color: #4a4f54;
      font-family: AvenirNext, Futura, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 15px;

      &--highlight {
        font-style: italic;
      }

      @media (min-width: $sm-breakpoint) {
        font-size: 12px;
        margin: 0 0 10px;
      }
    }

    &List {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: left;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: $sm-breakpoint) {
        justify-content: center;
      }
    }

    &ListItem {
      background-color: #54616b;
      color: #fff;
      font-family: LandRoverWeb-Bold, "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      padding: 5px 10px;
      text-transform: uppercase;
      text-transform: uppercase;
    }

  }
}