/* stylelint-disable max-nesting-depth */

$sm-breakpoint: 768px;
$md-breakpoint: 1024px;

.Modal {

  &__Background {
    animation: animationFrames ease-in-out .75s;

    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;

    @keyframes animationFrames {

      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__Body {
    background-color: #fff;
    box-shadow: 0px 12px 24px 0px #000;
    display: flex;
    flex-direction: row-reverse;
    margin: 5% auto 0;
    max-width: 75%;
    min-height: 100px;
    padding: 5px;
    position: relative;
    transition: opacity 500ms ease-in-out;
    z-index: 100;

    @media (min-width: $md-breakpoint) {
      max-width: 50%;
    }
  }

  &__CloseButton {
    align-self: flex-start;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='black' stroke-width='4' stroke-linecap='butt' /%3E%3C/svg%3E");
    background-size: 100%;
    border: 0;
    border: 3px solid #f8f9fa;
    cursor: pointer;
    flex: 0 0 40px;
    height: 40px;
    padding: 0;
    width: 40px;

    &:hover,
    &:focus {
      border-color: #54616b;
    }

    &:active {
      border-color: #000;
    }
  }

  &__Content {
    padding: 10px;
    width: 100%;

    & h3 {
      color: #0c121c;
      font-family: LandRoverWeb-Bold, "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 21px;
      letter-spacing: 2px;
      margin: 0 0 5px;
      text-transform: uppercase;
    }

    & p {
      color: #4a4f54;
      font-family: AvenirNext, Futura, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
      margin: 0 0 15px;
    }
  }

  // &__AccessibleLabel {
  //   position: absolute;
  //   width: 1px;
  //   height: 1px;
  //   padding: 0;
  //   margin: -1px;
  //   overflow: hidden;
  //   clip: rect(0, 0, 0, 0);
  //   border: 0;
  // }
}