$sm-breakpoint: 768px;
$md-breakpoint: 1024px;

.VehicleList {
  align-items: center;

  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $sm-breakpoint) {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $md-breakpoint) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}